.city-information {
    display: flex;
    margin-bottom: 0.33rem;
    flex-direction: row-reverse;
}

.city {
    display: flex;
    align-items: center;
    font-size: 0.66rem;
    margin: 0 auto 0 0;
}

.rty {
    display: flex;
    background-color: aqua;
}

.qwe {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.list {
    width: 10rem;
    max-width: 30rem;
    padding: 0;
    margin: 0;
    height: 5.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#user-information-container {
    display: flex;
    flex-direction: column;
}

#user-weather-container {
    display: flex;
    justify-content: space-between;
    flex: auto;
}

.title-container {
    display: flex;
    margin: 0.66rem 0 1.33rem 0;
    justify-content: space-between;
    align-items: center;
}

.user-city-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info {
    display: flex;
    justify-content: space-between;
    background-color: #333336;
    color: #8f8f8f;
    padding: 0.1rem;
    border-radius: 0.05rem;
}

span {
    font-size: 0.5rem;
    text-align: right;
}

html {
    font-family: Calibri, serif;
    background-color: #222226;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 3vw;
}

body {
    width: 23rem;
    margin: 0;
}

.title {
    font-size: 1rem;
    flex: 1;
    margin: 0;
}

.user-degree {
    font-size: 2.8rem;
    align-self: flex-end;
}

.user-city {
    font-size: 1rem;
    margin: 0;
}

.update-btn {
    justify-self: left;
}

.weather {
    height: 1rem;
    margin-right: 1.3rem;
}

.user-weather {
    height: 2.8rem;
    align-self: center;
}

.favorite-title {
    margin-top: 1.3rem;
    display: flex;
    flex-wrap: wrap;
}

.degree {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.favorite {
    list-style-type: none;
    margin-top: 0.7rem;
}

.update-btn {
    border-radius: 8px;
    width: 5rem;
    background-color: #8f8f8f;
    color: #333336;
    font-size: 0.33rem;
    transition: color 0.3s, background-color 0.3s;
    border-color: transparent;
    align-self: stretch;
}

.update-btn:hover {
    cursor: pointer;
    background-color: #333336;
    color: #8f8f8f;
}

.close-btn {
    width: 0.66rem;
    background-color: transparent;
    padding: 0;
    border: 0;
}

.close-btn svg {
    fill: #8f8f8f;
    transition: all 0.1s ease;
}

.close-btn:hover {
    cursor: pointer;
}

.close-btn:hover svg {
    fill: whitesmoke;
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
}

.add-favorite {
    display: flex;
}

.add-favorite-input {
    background-color: whitesmoke;
    width: 6.8rem;
    margin-right: 0.3rem;
    font-size: 0.4rem;
    border-radius: 4px;
    height: 1rem;
}

.add-btn {
    transform: rotate(45deg);
    align-items: center;
}

.add-favorite-input:focus {
    outline: none;
}

.update-btn-icon {
    display: none;
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 1rem;
}

.update-btn-icon svg {
    width: 1rem;
    height: 1rem;
}

@media screen and (max-width: 950px) {
    html {
        font-size: 28px;
    }
}

@media screen and (max-width: 715px) {
    body {
        width: 90vw;
    }
    #user-information-container {
        width: 90vw;
    }
    .list {
        width: 90vw;
    }
    .update-btn {
        display: none;
    }
    .update-btn-icon {
        display: inherit;
    }
    div.title {
        display: none;
    }
    #favorite {
        width: 90vw;
        margin-bottom: 0.2rem;
    }
    .title {
        flex: none;
    }
    .add-favorite-input {

    }
}